--
-- PostgreSQL database dump
--

-- Dumped from database version 15.2
-- Dumped by pg_dump version 15.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: hospital_appointment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospital_appointment (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    appointment_time timestamp with time zone NOT NULL,
    department_id bigint NOT NULL,
    doctor_id bigint NOT NULL
);


ALTER TABLE public.hospital_appointment OWNER TO postgres;

--
-- Name: hospital_appointment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hospital_appointment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hospital_appointment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hospital_blog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospital_blog (
    id bigint NOT NULL,
    image character varying(100),
    title character varying(255) NOT NULL,
    content text NOT NULL,
    viewers bigint NOT NULL,
    category_id bigint NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT hospital_blog_viewers_check CHECK ((viewers >= 0))
);


ALTER TABLE public.hospital_blog OWNER TO postgres;

--
-- Name: hospital_blog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hospital_blog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hospital_blog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hospital_blogcategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospital_blogcategory (
    id bigint NOT NULL,
    title text NOT NULL
);


ALTER TABLE public.hospital_blogcategory OWNER TO postgres;

--
-- Name: hospital_blogcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hospital_blogcategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hospital_blogcategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hospital_comment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospital_comment (
    id bigint NOT NULL,
    author character varying(255) NOT NULL,
    email character varying(254) NOT NULL,
    content text NOT NULL,
    blog_id bigint NOT NULL
);


ALTER TABLE public.hospital_comment OWNER TO postgres;

--
-- Name: hospital_comment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hospital_comment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hospital_comment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hospital_department; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospital_department (
    id bigint NOT NULL,
    title character varying(255) NOT NULL
);


ALTER TABLE public.hospital_department OWNER TO postgres;

--
-- Name: hospital_department_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hospital_department ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hospital_department_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hospital_doctor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospital_doctor (
    id bigint NOT NULL,
    first_name character varying(255) NOT NULL,
    last_name character varying(255) NOT NULL,
    photo character varying(100),
    about text NOT NULL,
    department_id bigint NOT NULL,
    speciality_id bigint NOT NULL
);


ALTER TABLE public.hospital_doctor OWNER TO postgres;

--
-- Name: hospital_doctor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hospital_doctor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hospital_doctor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hospital_doctorcontact; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospital_doctorcontact (
    id bigint NOT NULL,
    url character varying(255) NOT NULL,
    icon character varying(255),
    doctor_id bigint NOT NULL
);


ALTER TABLE public.hospital_doctorcontact OWNER TO postgres;

--
-- Name: hospital_doctorcontact_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hospital_doctorcontact ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hospital_doctorcontact_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hospital_feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospital_feedback (
    id bigint NOT NULL,
    author character varying(255) NOT NULL,
    profession character varying(255),
    content text NOT NULL,
    photo character varying(100) NOT NULL
);


ALTER TABLE public.hospital_feedback OWNER TO postgres;

--
-- Name: hospital_feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hospital_feedback ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hospital_feedback_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hospital_price; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospital_price (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    annual_price bigint NOT NULL,
    description text NOT NULL,
    photo character varying(100),
    CONSTRAINT hospital_price_annual_price_check CHECK ((annual_price >= 0))
);


ALTER TABLE public.hospital_price OWNER TO postgres;

--
-- Name: hospital_price_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hospital_price ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hospital_price_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hospital_service; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospital_service (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    icon character varying(100)
);


ALTER TABLE public.hospital_service OWNER TO postgres;

--
-- Name: hospital_service_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hospital_service ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hospital_service_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hospital_sociallink; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospital_sociallink (
    id bigint NOT NULL,
    url character varying(255) NOT NULL,
    icon character varying(255)
);


ALTER TABLE public.hospital_sociallink OWNER TO postgres;

--
-- Name: hospital_sociallink_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hospital_sociallink ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hospital_sociallink_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hospital_speciality; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospital_speciality (
    id bigint NOT NULL,
    title character varying(255) NOT NULL
);


ALTER TABLE public.hospital_speciality OWNER TO postgres;

--
-- Name: hospital_speciality_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hospital_speciality ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hospital_speciality_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hospital_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospital_user (
    id bigint NOT NULL,
    first_name character varying(255) NOT NULL,
    user_name character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    is_admin boolean NOT NULL
);


ALTER TABLE public.hospital_user OWNER TO postgres;

--
-- Name: hospital_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hospital_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hospital_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$600000$WI6YsdAZBno39IXs587VqX$8dAuAIJSxf8hcztcsIsnOZ5jrmvSW38075doP7vDZTE=	2023-04-23 21:15:06.363061+05	t	dinora				t	t	2023-04-23 21:14:28.615662+05
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	hospital	feedback
8	hospital	price
9	hospital	service
10	hospital	sociallink
11	hospital	blog
12	hospital	user
13	hospital	comment
14	hospital	blogcategory
15	hospital	department
16	hospital	doctorcontact
17	hospital	appointment
18	hospital	speciality
19	hospital	doctor
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
eood42ii1907bffmuxlgsp3z9grlyejh	.eJxVjMsOwiAQRf-FtSE8CgMu3fsNhIFBqgaS0q6M_65NutDtPefcFwtxW2vYBi1hzuzMJDv9bhjTg9oO8j22W-ept3WZke8KP-jg157peTncv4MaR_3WYDzqUjQVTwigrUxgVVIAvjhE4U0RKnrrIGFxUkqfpoksGSMyKAL2_gDhszeb:1pqcMk:3LbmRgANWEu7SrIghaA_dgdkrSJ1KXGE9M-mrh-jP38	2023-05-07 21:15:06.364688+05
\.


--
-- Data for Name: hospital_appointment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hospital_blog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hospital_blogcategory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hospital_blogcategory (id, title) FROM stdin;
1	Psychiatry
2	Preventive medicine
3	Physical medicine and Rehabilitation
4	Pediatrics
5	Nuclear medicine
6	Medical genetics
7	Internal medicine
8	Emergency medicine
9	A comprehensive list of medical specialties
\.


--
-- Data for Name: hospital_comment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hospital_department; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hospital_department (id, title) FROM stdin;
1	Endocrinology
2	Gastroenterology
3	Hematology
4	Infectious disease
5	Nephrology
6	Rheumatology
7	Ophthalmology
8	Cardiology
9	Dermatopathology
10	Otolaryngology
\.


--
-- Data for Name: hospital_doctor; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hospital_doctorcontact; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hospital_feedback; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hospital_price; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hospital_service; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hospital_sociallink; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hospital_sociallink (id, url, icon) FROM stdin;
1	twitter_url	fab fa-twitter
2	facebook_url	fab fa-facebook-f
3	linkidn_url	fab fa-linkedin-in
4	instagram_url	fab fa-instagram
\.


--
-- Data for Name: hospital_speciality; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hospital_speciality (id, title) FROM stdin;
1	Allergists
2	Immunologists
3	Anesthesiologists
4	Cardiologists
5	Dermatologists
6	Endocrinologists
7	Gastroenterologists
8	Hematologists
9	Infectious Disease Specialists
10	Neurologists
11	Ophthalmologists
12	Pediatricians
13	Rheumatologists
14	Osteopaths
15	Otolaryngologists
16	Nephrologists
\.


--
-- Data for Name: hospital_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hospital_user (id, first_name, user_name, password, is_active, is_admin) FROM stdin;
1	Dinora	dinor23	2332	t	t
2	aziza	aziza123	123	t	f
3	komila	komila1	123	t	t
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 76, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 125, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 19, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 21, true);


--
-- Name: hospital_appointment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospital_appointment_id_seq', 12, true);


--
-- Name: hospital_blog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospital_blog_id_seq', 6, true);


--
-- Name: hospital_blogcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospital_blogcategory_id_seq', 9, true);


--
-- Name: hospital_comment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospital_comment_id_seq', 13, true);


--
-- Name: hospital_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospital_department_id_seq', 10, true);


--
-- Name: hospital_doctor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospital_doctor_id_seq', 11, true);


--
-- Name: hospital_doctorcontact_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospital_doctorcontact_id_seq', 33, true);


--
-- Name: hospital_feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospital_feedback_id_seq', 4, true);


--
-- Name: hospital_price_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospital_price_id_seq', 7, true);


--
-- Name: hospital_service_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospital_service_id_seq', 8, true);


--
-- Name: hospital_sociallink_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospital_sociallink_id_seq', 4, true);


--
-- Name: hospital_speciality_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospital_speciality_id_seq', 16, true);


--
-- Name: hospital_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospital_user_id_seq', 3, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: hospital_appointment hospital_appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_appointment
    ADD CONSTRAINT hospital_appointment_pkey PRIMARY KEY (id);


--
-- Name: hospital_blog hospital_blog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_blog
    ADD CONSTRAINT hospital_blog_pkey PRIMARY KEY (id);


--
-- Name: hospital_blogcategory hospital_blogcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_blogcategory
    ADD CONSTRAINT hospital_blogcategory_pkey PRIMARY KEY (id);


--
-- Name: hospital_comment hospital_comment_email_4f31dfb6_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_comment
    ADD CONSTRAINT hospital_comment_email_4f31dfb6_uniq UNIQUE (email);


--
-- Name: hospital_comment hospital_comment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_comment
    ADD CONSTRAINT hospital_comment_pkey PRIMARY KEY (id);


--
-- Name: hospital_department hospital_department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_department
    ADD CONSTRAINT hospital_department_pkey PRIMARY KEY (id);


--
-- Name: hospital_doctor hospital_doctor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_doctor
    ADD CONSTRAINT hospital_doctor_pkey PRIMARY KEY (id);


--
-- Name: hospital_doctorcontact hospital_doctorcontact_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_doctorcontact
    ADD CONSTRAINT hospital_doctorcontact_pkey PRIMARY KEY (id);


--
-- Name: hospital_feedback hospital_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_feedback
    ADD CONSTRAINT hospital_feedback_pkey PRIMARY KEY (id);


--
-- Name: hospital_price hospital_price_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_price
    ADD CONSTRAINT hospital_price_pkey PRIMARY KEY (id);


--
-- Name: hospital_service hospital_service_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_service
    ADD CONSTRAINT hospital_service_pkey PRIMARY KEY (id);


--
-- Name: hospital_sociallink hospital_sociallink_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_sociallink
    ADD CONSTRAINT hospital_sociallink_pkey PRIMARY KEY (id);


--
-- Name: hospital_speciality hospital_speciality_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_speciality
    ADD CONSTRAINT hospital_speciality_pkey PRIMARY KEY (id);


--
-- Name: hospital_user hospital_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_user
    ADD CONSTRAINT hospital_user_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: hospital_appointment_department_id_1b944a9f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX hospital_appointment_department_id_1b944a9f ON public.hospital_appointment USING btree (department_id);


--
-- Name: hospital_appointment_doctor_id_45ff691b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX hospital_appointment_doctor_id_45ff691b ON public.hospital_appointment USING btree (doctor_id);


--
-- Name: hospital_blog_category_id_b8c5eb8d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX hospital_blog_category_id_b8c5eb8d ON public.hospital_blog USING btree (category_id);


--
-- Name: hospital_blog_user_id_30a7fbfc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX hospital_blog_user_id_30a7fbfc ON public.hospital_blog USING btree (user_id);


--
-- Name: hospital_comment_blog_id_62dc8489; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX hospital_comment_blog_id_62dc8489 ON public.hospital_comment USING btree (blog_id);


--
-- Name: hospital_comment_email_4f31dfb6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX hospital_comment_email_4f31dfb6_like ON public.hospital_comment USING btree (email varchar_pattern_ops);


--
-- Name: hospital_doctor_department_id_d5506b9f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX hospital_doctor_department_id_d5506b9f ON public.hospital_doctor USING btree (department_id);


--
-- Name: hospital_doctor_speciality_id_a02f3bb1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX hospital_doctor_speciality_id_a02f3bb1 ON public.hospital_doctor USING btree (speciality_id);


--
-- Name: hospital_doctorcontact_doctor_id_a2f0f5a5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX hospital_doctorcontact_doctor_id_a2f0f5a5 ON public.hospital_doctorcontact USING btree (doctor_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hospital_appointment hospital_appointment_department_id_1b944a9f_fk_hospital_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_appointment
    ADD CONSTRAINT hospital_appointment_department_id_1b944a9f_fk_hospital_ FOREIGN KEY (department_id) REFERENCES public.hospital_department(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hospital_appointment hospital_appointment_doctor_id_45ff691b_fk_hospital_doctor_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_appointment
    ADD CONSTRAINT hospital_appointment_doctor_id_45ff691b_fk_hospital_doctor_id FOREIGN KEY (doctor_id) REFERENCES public.hospital_doctor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hospital_blog hospital_blog_category_id_b8c5eb8d_fk_hospital_blogcategory_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_blog
    ADD CONSTRAINT hospital_blog_category_id_b8c5eb8d_fk_hospital_blogcategory_id FOREIGN KEY (category_id) REFERENCES public.hospital_blogcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hospital_blog hospital_blog_user_id_30a7fbfc_fk_hospital_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_blog
    ADD CONSTRAINT hospital_blog_user_id_30a7fbfc_fk_hospital_user_id FOREIGN KEY (user_id) REFERENCES public.hospital_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hospital_comment hospital_comment_blog_id_62dc8489_fk_hospital_blog_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_comment
    ADD CONSTRAINT hospital_comment_blog_id_62dc8489_fk_hospital_blog_id FOREIGN KEY (blog_id) REFERENCES public.hospital_blog(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hospital_doctor hospital_doctor_department_id_d5506b9f_fk_hospital_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_doctor
    ADD CONSTRAINT hospital_doctor_department_id_d5506b9f_fk_hospital_ FOREIGN KEY (department_id) REFERENCES public.hospital_department(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hospital_doctor hospital_doctor_speciality_id_a02f3bb1_fk_hospital_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_doctor
    ADD CONSTRAINT hospital_doctor_speciality_id_a02f3bb1_fk_hospital_ FOREIGN KEY (speciality_id) REFERENCES public.hospital_speciality(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hospital_doctorcontact hospital_doctorcontact_doctor_id_a2f0f5a5_fk_hospital_doctor_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospital_doctorcontact
    ADD CONSTRAINT hospital_doctorcontact_doctor_id_a2f0f5a5_fk_hospital_doctor_id FOREIGN KEY (doctor_id) REFERENCES public.hospital_doctor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

